/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-size: 2em;
  line-height: 1.4;
}
.saidt {
  text-align: center;
}
.saidofficialsite {
  text-align: center;
}
.video-container{
  width: 100vw;
  height: 100vh;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

/*.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #211322;
    overflow: hidden;
}

.background span {
    width: 47vmin;
    height: 47vmin;
    border-radius: 47vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 33;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 68%;
    left: 57%;
    animation-duration: 113s;
    animation-delay: -82s;
    transform-origin: -21vw -4vh;
    box-shadow: -94vmin 0 12.026584992297765vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 100%;
    left: 2%;
    animation-duration: 78s;
    animation-delay: -42s;
    transform-origin: 24vw 10vh;
    box-shadow: 94vmin 0 12.332453112982122vmin currentColor;
}
.background span:nth-child(2) {
    color: #be219e;
    top: 71%;
    left: 28%;
    animation-duration: 20s;
    animation-delay: -64s;
    transform-origin: -8vw -10vh;
    box-shadow: 94vmin 0 12.730751370311122vmin currentColor;
}
.background span:nth-child(3) {
    color: #be219e;
    top: 85%;
    left: 46%;
    animation-duration: 175s;
    animation-delay: -142s;
    transform-origin: 5vw -6vh;
    box-shadow: -94vmin 0 12.401957396199432vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 30%;
    left: 51%;
    animation-duration: 144s;
    animation-delay: -29s;
    transform-origin: -8vw 16vh;
    box-shadow: -94vmin 0 12.187738952080133vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 32%;
    left: 74%;
    animation-duration: 117s;
    animation-delay: -158s;
    transform-origin: -15vw -9vh;
    box-shadow: -94vmin 0 12.576412365390901vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 58%;
    left: 99%;
    animation-duration: 6s;
    animation-delay: -144s;
    transform-origin: -17vw 17vh;
    box-shadow: -94vmin 0 12.239684186240497vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 36%;
    left: 51%;
    animation-duration: 81s;
    animation-delay: -18s;
    transform-origin: 2vw 21vh;
    box-shadow: -94vmin 0 11.880369246673716vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 48%;
    left: 27%;
    animation-duration: 46s;
    animation-delay: -79s;
    transform-origin: -8vw -17vh;
    box-shadow: 94vmin 0 11.918616069337467vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 76%;
    left: 38%;
    animation-duration: 135s;
    animation-delay: -162s;
    transform-origin: -1vw -3vh;
    box-shadow: -94vmin 0 12.023871595112485vmin currentColor;
}
*/