

html {
  font-family: 'Martian Mono', monospace;

}


.window {
  
  background-color: #002b36;
  display: flex;
  flex-wrap: wrap;
  
}

.shell {
  color: #fdf6e3;
  overflow: hidden;
  padding: 20px;
  border-right: 2px solid #fdf6e3;
  
  animation: printed-text 5s steps(21),
             flashin-border .75s step-start infinite;
}

@keyframes flashin-border{
  0%{
    border-color: #fdf6e3;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: #fdf6e3;
  }
}